@{
  Layout = "_Layout";
}

@model PierreTreats.Models.Treat

<h4>Add a new treat</h4>

<hr />
@using (Html.BeginForm())
{
  @Html.Label("Enter Treat Name: ")
  @Html.TextBoxFor(model => model.TreatName)
  
  
  <input type = "submit" value="Add new treat">
}

<p>@Html.ActionLink("Show all treats", "Index")</p>
<p>@Html.ActionLink("Show all flavors", "Index", "Flavors")</p>
<p>@Html.ActionLink("Home", "Index", "Home")</p>