@{
  Layout = "_Layout";
}

@model PierreTreats.Models.Treat

<h2>Treat Details</h2>

<hr />
<h4>Treat Name: @Html.DisplayFor(model=>model.TreatName)</h4>


@if (Model.Flavors.Count == 0)
{
  <p>This treat does not have any flavour.</p>
}
else
{
  <p>@Html.DisplayFor(model=>model.TreatName) has the next flavor(s):</p>
  <ul>
    @foreach (var join in Model.Flavors)
    {
      <li>@Html.ActionLink($"{@join.Flavor.FlavorName}", "Details", "Flavors", new {id=join.Flavor.FlavorId}, null)</li>
      @using (Html.BeginForm("DeleteFlavor", "Treats"))
      {
        @Html.Hidden("joinId", @join.TreatFlavorId)
        @Html.HiddenFor(model =>model.TreatId)
    
        <input type="submit" value="Delete" />
      }
    }
  </ul>
}

<hr />
<p>@Html.ActionLink("Add Flavor to Treat", "AddFlavor", new{id=Model.TreatId})</p>
<p>@Html.ActionLink("Edit treat", "Edit", new { id = Model.TreatId})</p>
<p>@Html.ActionLink("Delete treat", "Delete", new { id = Model.TreatId})</p>

